body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    
}
.KRUH{
   width: 100px;
   height: 100px;
   background: #a56060;
   border-radius: 50%;
   animation: color 2s infinite;
   
}

  

       
   
@keyframes color{
    0% {
        background-color: chartreuse;
    }

    50%{
        background-color: cadetblue;
    }

    100%{
        background-color: blanchedalmond;
    }
}







