
@keyframes move {
    0% {
        top: 0;
       left: 0;
    }

    25%{
        top:  0% ;
        left: 50% ;
    }

    50%{
        top: 50%  ;
        left: 50%  ;
    }
    75%{
        left: 0  ;
        top: 50%  ;
    }

    100% {
        top: 0%;
        left: 0;
    }
}


body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.kruh{
    position: absolute;
    top: 50%;
    right: 50%;
    transition: border 0.5s ;
    animation: 3s  infinite example ;
    background: rgb(217,74,230);
    background: linear-gradient(90deg, rgba(217,74,230,1) 7%, rgba(237,139,190,1) 40%, rgba(152,225,242,1) 100%);
}
 
.kruh:hover{
    background-color: yellow;
    border: solid rgb(28, 179, 141) 5px ;
    
}

@keyframes example {
    0% {
       color: red;
    }

    25%{
        color: blue;
    }

    50%{
       color: purple;
    }
    75%{
        color: green;
    }
    100%{
       color: yellow;
    }

}
 
