
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 2rem;
  }
  
  .container {
    /*position: relative;*/
    height: 500px;
    border: 2px solid #aaa;
    margin-bottom: 4rem;
  }
  
  .box {
    width: 150px;
    height: 150px;
    background-color: #0077cc;
    color: white;
    padding: 1rem;
  }
  
  .relative-box{
    background-color: #4d64b8;
    position: relative;
    top: 150px;
  }
  
  .absolute-box{
    background-color: green;
    position: absolute;
    top: 150px;
    left: 150px;
    right: 150px;
  }


  .fixed-box{
    position: fixed;
    bottom: 150px;
    right: 150px;
    background-color: brown;
  }

  .sticky-box{
    position: sticky;
    bottom: 150px;
    right: 150px;
    background-color: rgb(47, 42, 42);
  }